
body {
        text-align: center;
        margin-top: 50px;
        background: #99ddff;
}

.button {background-color: #e6e6e6;} /* Almost white */
.button2 {background-color: #e6e6e6;} /* almost white */
.button3 {background-color: #000000;} /* Blak */
.button4 {background-color: #ff3300;} /* Red On */

.button5 {background-color: #ff3333;} /* Red */
.button6 {background-color: #339933;} /* Green */
.button7 {background-color: #3366ff;} /* Blue */
.button8 {background-color: #ffffff; color: black;} /* white */

.button9 {background-color: #555555;}  /*  */
.button10 {background-color: #555555;} /*  */
.button11 {background-color: #555555;} /*  */
.button12 {background-color: #999999;} /* gray */

.button13 {background-color: #555555;} /*  */
.button14 {background-color: #555555;} /*  */
.button15 {background-color: #555555;} /*  */
.button16 {background-color: #999999;} /* gray */

.button17 {background-color: #555555;} /*  */
.button18 {background-color: #555555;} /*  */
.button19 {background-color: #555555;} /*  */
.button20 {background-color: #999999;} /* gray */

.button21 {background-color: #555555;} /*  */
.button22 {background-color: #555555;} /*  */
.button23 {background-color: #555555;} /*  */
.button24 {background-color: #999999;} /* gray */
